.custom-select {
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 7px;
  &:hover {
    background-color: rgba(112, 117, 122, 0.2);
  }
}
.select-input {
  padding: 0px 10px 0px 10px;
  text-overflow: ellipsis;
  font-size: 14px;
}

.options {
  position: absolute;
  top: 38px;
  right: 1px;
  border-radius: 5px;
  height: fit-content;
  width: 200px;
  background-color: white;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  li {
    margin-top: 10px;
    list-style: none;
    padding: 10px 20px;
    cursor: pointer;
    text-align: end;
    &:hover {
      background-color: #dadce0;
    }
  }
}

.active {
  background-color: #dfeafc;
}

.selected {
  background-color: #e8f0fe;
  svg {
    fill: #1a73e8;
  }
}

@media (min-width: 600px) {
  .custom-select {
    width: fit-content !important;
  }
}
